<?php
/**
 * Override / Define settings here
 */
return [
    'settings' => [
        // PDO settings
        'pdo' => [
            'driver'    => 'mysql',
            'database'  => 'foo',
            'user'      => 'bar',
            'passwd'    => 'baz'
        ],

        //Google Analytics
        'google_analytics' => [
            'api_key' => 'UA-XXXXX-Y',
            'anonymize_ip' => true
        ]
    ]
];