<?php
/**
 * Override / Define settings here
 */
return [
    'settings' => [
        //Slim Settings
        'displayErrorDetails' => true,

        // CLI Settings
        'cli' => [
            'profiling' => true // Enabled profiling display
        ],

        //Debug Bar Setting
        'debugbar' => [
            'enabled' => true,
            // Enable or disable extra collectors
            'collectors' => [
                'config'    => true,
                'monolog'   => true,
                'pdo'       => true
            ]
        ],

        // PDO settings
        'pdo' => [
            'driver'    => 'mysql',
            'host'      => '127.0.0.1',
            'database'  => 'foo',
            'user'      => 'bar',
            'passwd'    => 'baz'
        ],

        //Google Analytics
        'google_analytics' => [
            'api_key' => 'UA-XXXXX-Y',
            'anonymize_ip' => true
        ]
    ]
];